body{
  color:#F9F7F3;
  background:#32213A;
}

header{
  text-align: center;
  text-decoration: wavy;
  color:#8D91C7;
  font-style: oblique;
}

img{
  width: 500px;
  height: 400px;
  margin: 3em;
}

table, tr, td{
  border-color: #F9F7F3;
  border: 1em solid;
  margin: 3em;
  margin-left: 12em;
  padding: 3em;
  border-collapse: collapse;
  text-align: center;
  padding: 2em;
}

p{
  text-align: center;
}

.main{
  float:left;
  text-align: center;
  width: 50%;
  background-color: #688B58;
  border-radius: 15em;
  color:#143109
}
